<form role="search" method="get" class="search-form" action="{{site.url}}">
  <input type="search" name="s" value="{{fn("the_search_query")}}" placeholder="{{placeholder}}" autocomplete="off"></input>
  <!-- <input type="hidden" name="post_type" value="postname" /> -->
</form>
