rupture.use-device-width = true
jeet.max-width = 1080px

:focus
  outline: none

*
  box-sizing: border-box

body
  reset-box-model()
  font-family: Arial, Helvetica, sans-serif line-height 1.5
  color: #333

input, select, textarea
  padding: .55em
  font-size: inherit

input
  background: white
  border: 1px solid gray

a:link, a:visited
  color: blue
  text-decoration: none
