ir()
  text-indent -9999px

va()
  position relative
  top 50%
  transform translateY(-50%)

responsive()
  display block
  width 100%
  height auto

caps()
  text-transform uppercase
  letter-spacing 1px
  font-weight bold
