ir()
  text-indent -9999px

va()
  position relative
  top 50%
  transform translateY(-50%)

responsive()
  display block
  width 100%
  height auto

caps()
  text-transform uppercase
  letter-spacing 1px
  font-weight bold

arrow(size=10px, color=blue, pos=top 100% left 50%)
  absolute pos
  margin-left -10px
  border size solid transparent
  border-top-color color
